// これは600px以下の記述です
.header {
  height: 77px;
}

.header__inner-nav ul .header-contact {
  font-size: 14px;
}
.header__inner-nav ul .header-contact {
  font-size: 12px;
}
.scroll-anime{
  display: none;
}

.header__li-bottom{
  font-size: 12px;
}
.header__inner-nav ul .header__li-tel {
  font-size: 12px;
}
.header__inner-nav ul .header-contact {
  width: 85px;
}
.tel{
  font-size: 12px;
}