
img{
  max-width: 100%;
  vertical-align: bottom;
}
a{
  text-decoration: none;
  color: $cBlack;
}
p{
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
.font-sm{
  font-size: 14px;
}
.font-md{
  font-size: 24px;
}
.font-lr{
  font-size: 28px;
}
.sm-title{
  background-color: $cBlue;
  color: $cWhite;
}
// 青い背景の小見出しのCSS
.blue-title{
  background-color: $cBlue;
  color: $cWhite;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 28px;
  display: inline-block;
  padding: 13px;
}
.underline{
  text-decoration: underline;
  text-underline-offset: 3px;
}


// header
.header{
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 30;
  background-color: $cWhite;
  &__inner{
    width: 94%;
    display: flex;
    margin:0 0 0 auto;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    &-logo{
      width: 124px;
      height: 48px;
    }
    &-nav{
      width: 840px;
      & ul{
        display: flex;
        // width: 840px;
        justify-content: space-between;
        align-items: center;
        & .header__li{
          text-align: center;
          
          &-top{
            font-size: 13px;
          }
          
         &-tel{
           @extend .font-md;
         }
        }
        & .header-contact{
          width: 128px;
          background-color: $contactbg;
          padding: 14px 0;
          transition: opacity 0.5s;
          &:hover{
            opacity: 0.9;
          }
          & a{
            text-align: center;
            color: $cWhite;
            font-weight: bold;

           & .contact-white{
             display: flex;
             justify-content: center;
             color: white;
             font-size: 24px;
             margin-bottom: 12px;
           }
          }
        }
      }
    }
  }
}

// mobile-menu-btn
.mobile-menu__btn{
  display: none;
}
// wrapper
.wrapper{
  position: relative;
  background-image: url("../img/1x/header/fv-img01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  width: 100%;
  max-width: 100%;
  padding-top: 280px;

  &__inner{
    padding-left: 10%;
    &-title{
       & h1{
         background-color: $cWhite;
         margin: 0;
         display: inline-block;
         color:$cBlue;
         font-size: 60px;
          padding: 13px 16px;
          font-weight: bold;
         
         &:nth-child(1){
           letter-spacing: 0.28em;
           margin-bottom: 8px;

         }
         &:nth-child(2){
           letter-spacing: 0.1em;
         }
       }
       & h2{
         background-color: $cWhite;
         margin: 0;
         display: inline-block;
         color:$cBlue ;
         margin-top: 24px;
         padding: 14px;
         font-size: 18px;
         letter-spacing: 0.1em;
       }
     }
     &-contact{
       margin-top: 84px;
       display: flex;
       margin-bottom: 107px;
       & .tel-btn{
        margin-right: 7%;
       }
    }
    &-news{
      position: absolute;
      bottom: -53px;
      right: 0;
      background-color: $cWhite;
      display: flex;
      align-items: center;
      padding: 30px 40px;
      opacity: 0.9;
      width: 82%;
      box-shadow: -5px 5px 5px 0 rgba(0,0,0,0.3);
      & h2{
        border-right: 1px solid $cBlack;
        margin-right: 118px;
        padding-right: 22px;
      }
      & a{
        & .day{
          display: inline-block;
          margin-right: 32px;
        }
      }
    }
  }
}

// concerp
.concept{
  margin-top: 93px;
  &__inner{
      width: 86%;
      margin: 0 auto;
    & .concept__top{
      position: relative;
      &-bg{
        background-image: url("../img/1x/concept/CONCEPT.jpg");
        width: 344px;
        height: 676px;
        background-repeat: no-repeat;
      }
      &-main{
        position: absolute;
        top: 120px;
        right: 0;
        width: 950px;
      }
      & .concept__top-section{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        & .concept-texts{
          margin-top: 43px;
          text-align: right;
          & h2:nth-child(1){
            margin-bottom: 12px;
          }
          & .price{
            margin-top: 32px;
            font-size: 20px;
            & span{
              font-size: 60px;
            }
          }
        }
      }
      & .concept__text{
        & p{
          font-size: 14px;
          line-height: 26px;
          font-weight: bold;
        }
      }
      #detail-btn{
        position: absolute;
        bottom: 53px;
        right: 0;
        left: 0;
      }
    }
  }
}


// char
.char{
  margin-top: 80px;
  background-image: url("../img/1x/char/char-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 489px;
  &__inner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &-left{
      width: 28%;
      margin-top: 80px;
      & h1{
        font-size: 20px;
        margin-bottom: 16px
      }
      & .blue-title{
        padding: 13px 16px;
      }
      & p{
        @extend .font-sm;
        line-height: 26px;
        margin-top: 20px;
      }
    }
    &-right{
      width: 64%;
      padding: 40px 0;

      
      &-feature{
        width: 71%;
        display: flex;
        align-items: center;
        margin-top: 32px;

        &:nth-child(1){
          margin-top: 0;
          margin-left: 160px;
        }
        &:nth-child(2){
          margin-left: 80px;
        }
        
        & .big-number{
          letter-spacing: 0.05em;
          font-size: 100px;
          font-weight: bold;
          color: $cbignum;
        }
      }
    }
  }
}

// service
.service{
  position: relative;
  padding-top: 80px;
  width: 90%;
  margin: 80px auto;
  & .service-bg{
    background-image: url("../img/1x/service/SERVICE.png");
    background-repeat: no-repeat;
    width: 335px;
    height: 614px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  & .blue-title{
    position: relative;
    z-index: 5;
  }
  &__lead{
    position: relative;
    margin: 40px 0;
    z-index: 5;
  }
  &__menus{
    background-color: $cWhite;
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 5;

    & .service--menu{
      position: relative;
      width: 32%;
      &-img{
        position: relative;
        overflow: hidden;
        & img{
          width: 100%;
          transition: transform 0.5s;
          &:hover{
            transform: scale(1.2);
          }
        }
        & p{
          &:nth-of-type(1){
            padding: 10px 16px;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.1em;
            position: absolute;
            bottom: 10px;
            left: 16px;
            background-color: white;
            color: $cBlue;
            line-height: 20px;
          }
          &:nth-of-type(2){
            font-size: 11px;
            position: absolute;
            bottom: -7px;
            left: 32px;
            color: $cBlue;
            font-weight: bold;
          }
        }
      }
      &-script{
        padding: 32px 16px 40px 16px;
        line-height: 26px;
      }
      #detail-btn{
        position: absolute;
        left: 0;
        right: 0;
      }
    }

  }
}


// work
.swiper{
  width: 100%;
}
.swiper-slide{
  & p{
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.swiper-text{
  position: relative;
  text-align: center;
  & h2{
    display: inline-block;
    width: 230px;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 20px;
    
  }
}
.swiper-text-bottom{
  width: 90%;
  margin: 0 auto;
  & #detail-btn{
    display: block;
  }
}
.work{
  margin-top: 110px;
  margin-bottom: 80px;
  padding-top: 80px;
  position: relative;

  &-bg{
    background-image: url("../img/1x/work/WORKS.jpg");
    background-repeat: no-repeat;
    width: 358px;
    height: 525px;
    position: absolute;
    top: 0;
    left: 80px;
  }
  &-texts{
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: end;
    
  }
  &__lead{
    margin-top: 40px;
    margin-bottom: 38px;
  }
}


// blog
.blog{
  background-image: url("../img/1x/blog/blog_bg.jpg");
  margin-bottom: 80px;
  height: 421px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 27px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  &__inner{
    position: relative;
    width: 77%;
    margin: 0 auto;
    & .blog-bg{
      position: absolute;
      z-index: 10;
      top: -71px;
      right: -100px;
      background-repeat: no-repeat;
      background-image: url("../img/1x/blog/BLOG1.png");
      width: 335px;
      height: 409px;
    }
    .blog-lists{
      background-color: $cWhite;
      width: 80%;
      padding: 0px 10% 55px 10%;
      position: relative;
      z-index: 13;
      & li{
        padding: 40px 0px 32px 55px;
        border-bottom: 1px solid $blogline;
        & .tex-deco{
          border-bottom: 1px solid $cBlack;
          display: inline-block;
          line-height: 15px;
          margin-left: 4%;
        }
      }
    }
   
  }
}




.footer{
  &__top{
    background-image: url("../img/1x/footer/contact01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $cWhite;
    padding: 80px 0;
    & h2{
      line-height: 36px;
    }
    &__contact{
      margin-top: 40px;
      & .tel-btn{
        margin-right: 80px;
      }
    }
  }
  &__bottom{
    padding: 40px 0;
    background-color: $cBlue;
    text-align: center;
    & p:nth-of-type(1){
      color: $cWhite;
      font-weight: bold;
      margin: 24px 0 40px 0;
    }
    & p:nth-of-type(2){
      color: $ccopyright;
      font-size: 11px;
    }
  }
}