.header{
  &__inner{
    &-nav{
      // & .hov-line{
      //   position: relative;
      //   display: inline-block;
      //   &::after{
      //     position: absolute;
      //     bottom: -4px;
      //     left: 0;
      //     content: '';
      //     width: 100%;
      //     height: 2px;
      //     background: #333;
      //     transform: scale(0, 1);
      //     transform-origin: left top;
      //     transition: transform .3s;
      //   }
      //   &:hover::after {
      //     transform: scale(1, 1);
      //   }
      // }
    }
  }
}

.hov-line{
  position: relative;
  display: inline-block;
  &::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}